

@import url("https://fonts.googleapis.com/css?family=Spartan:400,700&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: rgb(25,6,68);
  background: radial-gradient(circle, #190644 0%, #1a1818 22%, #390773 63%, #0c0c6eda 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Spartan, sans-serif;
  font-size: 12px;
}
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.602);
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn , h1 {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size:22px;
  color: #d1cece;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

h1{
  font-size: 30px;
}


/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: rgba(75, 74, 74, 0.719);
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: rgba(172, 171, 170, 0.404);
  padding-left: 8px;
  color: rgb(255, 255, 255);
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
  
}

.player-container {
  height: 500px;
  width: 400px;
  background: #e7e7e7;
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}

.img-container {
  width: 300px;
  height: 300px;
  position: relative;
  top: -50px;
  left: 50px;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}

/* Progress */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
  position: relative;
  top: -15px;
  left: 120px;
  width: 200px;
}

.fas {
  font-size: 30px;
  color: rgb(129, 129, 129);
  margin-right: 30px;
  cursor: pointer;
  user-select: none;
}

.fas:hover {
  filter: brightness(80%);
}

.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 20px;
  width: 100%;
  color: white;
  text-align: center;
}

footer > a {
  color: white;
}


/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 400px) {

  .sidenav {
     width: 100%;
     height: 44%;
  }
  .sidenav a, .dropdown-btn {
    font-size: 12px;
  }

  .player-container {
   height: 40%;
   width: 300px;
   position: fixed;
   top: 55%;
   left: 13%;
   
  }

  .img-container {
    width: 200px;
    height: 200px;
    position: relative;
    top: -40px;
    left: 52px;
  }

  h2 {
    font-size: 20px;
    text-align: center;
    margin: 0;
  }
  
  h3 {
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    margin: 5px 0 0;
  }

  .player-controls {
    top: -18px;
    left: 90px;
  }

  .fas {
    font-size: 20px;
    margin-right: 30px;
  }
  .progress-container {
    margin: 35px 20px;
    width: 85%;   
  }
  
  
  footer ,a{
    font-size: 8px;
    bottom: 10px;
  }
    
}